{{#if image}}
<div class="material-cover" style="background-image: url({{image}})">
{{else}}
<div class="material-cover" style="background-image: url({{@blog.cover}});background-color:rgba(36, 62, 103, 0.7)">
{{/if}}
</div>