{{#if image}}
<div class="material-cover" style="background-image: url({{image}})">
{{else}}
<div class="material-cover" style="background-image: url('/assets/img/backgrounds/bkg.jpg');background-color:rgba(36, 62, 103, 1)">
{{/if}}
</div>