<aside class="tags-overlay animated nav-header">
    <div class="tags-overlay container">
        {{> search }}
        {{> popular-tags }}
    </div>
    <a class="tags-button right">
        <i class="fa fa-search"></i>
    </a>
</aside>