.nav-header {
    width: 100%;
    z-index: 10;
    padding-top: 10px;

    a {
        z-index: 10;
        left: 20px;

        &.right {
            float: right;
            left: auto;
            right: 20px;
        }

        i {
            position: relative;
            font-size: 25px;
            color: $slate-white;
            border: none;
            border-radius: 50%;
            padding: 12px;

            &:hover {
                cursor: pointer;
				box-shadow: none;
			    text-shadow: 0 0 5px #fff;
            }

            &.fa-close {
                font-size: 30px;
                box-shadow: none;
                background: initial;
                border: none;
            }
        }

        img {
            max-width: 48px;
            border: 2px solid $slate-white;
            @include shadow(2);

            &.avatar {
				border: none;
				box-shadow: 0 0px 7px rgba(255,255,255,.6);

				&:hover {
				    box-shadow: 0 0 10px #fff;
				}
            }
        }

    }

    &.nav-header-fixed {
        position: fixed;
    }

    &.mobile {
        display: none;
    }
}
